src/main/resources/CDMSWS-Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7.--><!--Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b221116.0611 svn-revision#e80cc14f7d7c7ce39446b2db53387251ca55e7a7.-->
<definitions targetNamespace="http://edmscestg.etisalat.corp.ae/1.0" name="CDMSWS-Service" 
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://edmscestg.etisalat.corp.ae/1.0" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://edmscestg.etisalat.corp.ae/1.0" schemaLocation="CDMSWS-Service.xsd"/>
    </xsd:schema>
  </types>
  <message name="uploadMultipleEDMSDocument">
    <part name="parameters" element="tns:uploadMultipleEDMSDocument"/>
  </message>
  <message name="uploadMultipleEDMSDocumentResponse">
    <part name="parameters" element="tns:uploadMultipleEDMSDocumentResponse"/>
  </message>
  <message name="downloadEDMSDocument">
    <part name="parameters" element="tns:downloadEDMSDocument"/>
  </message>
  <message name="downloadEDMSDocumentResponse">
    <part name="parameters" element="tns:downloadEDMSDocumentResponse"/>
  </message>
  <message name="updateMultipleProperties">
    <part name="parameters" element="tns:updateMultipleProperties"/>
  </message>
  <message name="updateMultiplePropertiesResponse">
    <part name="parameters" element="tns:updateMultiplePropertiesResponse"/>
  </message>
  <message name="uploadCDMSDocument">
    <part name="parameters" element="tns:uploadCDMSDocument"/>
  </message>
  <message name="uploadCDMSDocumentResponse">
    <part name="parameters" element="tns:uploadCDMSDocumentResponse"/>
  </message>
  <message name="uploadEDMSDocument">
    <part name="parameters" element="tns:uploadEDMSDocument"/>
  </message>
  <message name="uploadEDMSDocumentResponse">
    <part name="parameters" element="tns:uploadEDMSDocumentResponse"/>
  </message>
  <message name="downloadMultipleEDMSDocument">
    <part name="parameters" element="tns:downloadMultipleEDMSDocument"/>
  </message>
  <message name="downloadMultipleEDMSDocumentResponse">
    <part name="parameters" element="tns:downloadMultipleEDMSDocumentResponse"/>
  </message>
  <message name="updateProperties">
    <part name="parameters" element="tns:updateProperties"/>
  </message>
  <message name="updatePropertiesResponse">
    <part name="parameters" element="tns:updatePropertiesResponse"/>
  </message>
  <message name="copyDocument">
    <part name="parameters" element="tns:copyDocument"/>
  </message>
  <message name="copyDocumentResponse">
    <part name="parameters" element="tns:copyDocumentResponse"/>
  </message>
  <message name="copySRDocument">
    <part name="parameters" element="tns:copySRDocument"/>
  </message>
  <message name="copySRDocumentResponse">
    <part name="parameters" element="tns:copySRDocumentResponse"/>
  </message>
  <message name="getMultipleFiles">
    <part name="parameters" element="tns:getMultipleFiles"/>
  </message>
  <message name="getMultipleFilesResponse">
    <part name="parameters" element="tns:getMultipleFilesResponse"/>
  </message>
  <message name="getFile">
    <part name="parameters" element="tns:getFile"/>
  </message>
  <message name="getFileResponse">
    <part name="parameters" element="tns:getFileResponse"/>
  </message>
  <portType name="CDMSWS">
    <operation name="uploadMultipleEDMSDocument">
      <input wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/uploadMultipleEDMSDocumentRequest" message="tns:uploadMultipleEDMSDocument"/>
      <output wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/uploadMultipleEDMSDocumentResponse" message="tns:uploadMultipleEDMSDocumentResponse"/>
    </operation>
    <operation name="downloadEDMSDocument">
      <input wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/downloadEDMSDocumentRequest" message="tns:downloadEDMSDocument"/>
      <output wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/downloadEDMSDocumentResponse" message="tns:downloadEDMSDocumentResponse"/>
    </operation>
    <operation name="updateMultipleProperties">
      <input wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/updateMultiplePropertiesRequest" message="tns:updateMultipleProperties"/>
      <output wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/updateMultiplePropertiesResponse" message="tns:updateMultiplePropertiesResponse"/>
    </operation>
    <operation name="uploadCDMSDocument">
      <input wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/uploadCDMSDocumentRequest" message="tns:uploadCDMSDocument"/>
      <output wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/uploadCDMSDocumentResponse" message="tns:uploadCDMSDocumentResponse"/>
    </operation>
    <operation name="uploadEDMSDocument">
      <input wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/uploadEDMSDocumentRequest" message="tns:uploadEDMSDocument"/>
      <output wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/uploadEDMSDocumentResponse" message="tns:uploadEDMSDocumentResponse"/>
    </operation>
    <operation name="downloadMultipleEDMSDocument">
      <input wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/downloadMultipleEDMSDocumentRequest" message="tns:downloadMultipleEDMSDocument"/>
      <output wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/downloadMultipleEDMSDocumentResponse" message="tns:downloadMultipleEDMSDocumentResponse"/>
    </operation>
    <operation name="updateProperties">
      <input wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/updatePropertiesRequest" message="tns:updateProperties"/>
      <output wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/updatePropertiesResponse" message="tns:updatePropertiesResponse"/>
    </operation>
    <operation name="copyDocument">
      <input wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/copyDocumentRequest" message="tns:copyDocument"/>
      <output wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/copyDocumentResponse" message="tns:copyDocumentResponse"/>
    </operation>
    <operation name="copySRDocument">
      <input wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/copySRDocumentRequest" message="tns:copySRDocument"/>
      <output wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/copySRDocumentResponse" message="tns:copySRDocumentResponse"/>
    </operation>
    <operation name="getMultipleFiles">
      <input wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/getMultipleFilesRequest" message="tns:getMultipleFiles"/>
      <output wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/getMultipleFilesResponse" message="tns:getMultipleFilesResponse"/>
    </operation>
    <operation name="getFile">
      <input wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/getFileRequest" message="tns:getFile"/>
      <output wsam:Action="http://edmscestg.etisalat.corp.ae/1.0/CDMSWS/getFileResponse" message="tns:getFileResponse"/>
    </operation>
  </portType>
  <binding name="CDMSPortBinding" type="tns:CDMSWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="uploadMultipleEDMSDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="downloadEDMSDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateMultipleProperties">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="uploadCDMSDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="uploadEDMSDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="downloadMultipleEDMSDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateProperties">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="copyDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="copySRDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMultipleFiles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CDMSWS-Service">
    <port name="CDMSPort" binding="tns:CDMSPortBinding">
      <soap:address location="https://edmscestg.etisalat.corp.ae:7511/CDMS-WSIM/CDMSWS-Service"/>
    </port>
  </service>
</definitions>